:root{
    --primary-color: #ffb6b6;
    --secondary-color: #d9d9d9;
    --primary-background:#a5a5a5;

}

.main_body{
    background-color: var(--primary-background);


}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;

    margin: 0;
    /*background-color: var(--primary-background)*/
}

header{
    background-color: var(--primary-color);
    text-align: center;
    padding: 15px;

}
.logo_name{
    margin: 50px;
}
.logo_name img {
    height: 40px;
}

.ca_name{
    font-size: 30px;
    margin: 0;
}

.coder_text{
    color: #1C3C5C;

}
.acadamy_text{
    color: #45A7C5;
}

nav{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: #1C3C5C;
}

footer {
    background-color: var(--primary-color);
    padding: 16px;
    text-align: center;
}

.social_media {
    display: flex;
    justify-content: space-around;
    margin-bottom: 32 px;
}

.social_media a i {
    color: #04181e;
    font-size: 20px;
}

.info{
    color: #04181e;
}

.info p{
    margin: 4px 0;
}
@media screen and (min-width: 568px){
    header{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .logo_name{
        margin-bottom: 0;
    }
    nav{
        width: 50%;
    }
    .social_media{
        width:60%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 768px) {
    body {
        padding: 0 15vw;
    }
}
