main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article{
    background-color: var(--secondary-color);
    margin: 23px;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
}

.service_image img{
    width: 300px;
}